<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        function patch(){
            var request = new XMLHttpRequest();
            request.open('PATCH', '/', true);
            request.send(null);
            $("#div_contenedor").load(location.href + " #div_contenedor");
        }
        setInterval(patch, 3000);
    </script>
</head>
<body>
    <div id="div_contenedor">
        <label>nº of participants in the system:</label>
        <p th:text="${part.amount}">desu</p>

        <label>nº of proposals in the system:</label>
        <p th:text="${prop.amount}">desu</p>

        <label>nº of comments in the system:</label>
        <p th:text="${comm.amount}">desu</p>

        <h3>Top 5 voted proposals: </h3>
        <table id="votedProposals">
            <tr>
                <th>Author</th>
                <th>Votes</th>
            </tr>
            <tr th:each="proposal : ${voteList}">
                <td th:text="${proposal.author}"> author</td>
                <td th:text="${proposal.votes}"> votes</td>
            </tr>
        </table>

        <label>Participants by nationality: </label>
        <table id="nationalityTable">
            <tr>
                <th>Nationality</th>
                <th>Amount</th>
            </tr>
            <tr th:each="localizationData : ${part.nationAgrup}">
                <td th:text="${localizationData.nationality}"> author</td>
                <td th:text="${localizationData.amount}"> votes</td>
            </tr>
        </table>
        <label>Most Commented Proposals: </label>
        <table>
            <tr>
                <th>Author</th>
                <th>Amount</th>
            </tr>
            <tr th:each="proposalData : ${prop.topCommented}">
                <td th:text="${proposalData.author}"> author</td>
                <td th:text="${proposalData.amountComments}"> votes</td>
            </tr>
        </table>
    </div>

</body>
</html>